*{
  margin:0;
  padding:0;
}

.window{
  min-height: 100vh;
  background-image: linear-gradient(to right top, #65dfc9 0%, #6cdbeb 100%);
  padding: 2rem 0;
}

.App {
  text-align: center;
  padding-left: calc(100vw - 100%);
  min-height: 100vh;
  background-image: linear-gradient(to right top, #65dfc9 0%, #6cdbeb 100%);
}

.search-form{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
  padding-bottom: 4vh;
  height: 7vh;
  min-height: 50px;
}

.search-bar{
  width: 40vw;
  margin-right: 5px;
  height: 60%;
}

.file-list{
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
  padding-bottom: 3rem;
}

.file{
  margin: 1rem 0rem;
  padding: 2rem;
  border-radius: 10px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  /*box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.3);*/
  z-index: 2;
  backdrop-filter: blur(1rem);
}

.file p{
  text-align: justify;
}

.circle1, .circle2, .circle3, .circle4{
  position: fixed;
  background: linear-gradient(
          to left bottom,
          rgba(255, 255, 255, 0.7),
          rgba(255, 255, 255, 0.1)
  );

  border-radius: 50%;
}

.circle1{
  width: 25rem;
  height: 25rem;
  top: 10%;
  right: 3%;
}

.circle2{
  width: 15rem;
  height: 15rem;
  left: 4%;
  bottom: 20%;
}

.circle3{
  width: 15rem;
  height: 15rem;
  right: 15%;
  bottom: 0;
}

.circle4{
  width: 15rem;
  height: 15rem;
  left: 30%;
  top: 14%;
}

.link{
  padding-top: 1rem;
  text-decoration: none;
  list-style: none;
  color: #52a9b1;
}

.link:hover{
  color: #305b60;
}

.paging{
  z-index: 3;
  padding-left: calc(100vw - 100%);
  position: fixed;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
}

.content{
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  width: 80vw;
  border-radius: 10px;
  background: linear-gradient(
          to right bottom,
          rgba(255, 255, 255, 0.7),
          rgba(255, 255, 255, 0.3)
  );
  /*box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.3);*/
  z-index: 2;
  backdrop-filter: blur(1rem);
  padding: 5vh 2rem 0 2rem;
}

.content p{
  text-align: justify;
}

.content button{
  margin-bottom: 1rem;
  background-color: #65dfca;
}